:root {
  --color-primary: #e15536;

  --color-gray-1: #f7f8fa;
  --color-gray-2: #f2f3f5;
  --color-gray-3: #ebedf0;
  --color-gray-4: #dcdee0;
  --color-gray-5: #c8c9cc;
  --color-gray-6: #969799;
  --color-gray-7: #646566;
  --color-gray-8: #323233;

  --color-red: #ee0a24;
  --color-blue: #1989fa;
  --color-orange: #ff976a;
  --color-orange-dark: #ed6a0c;
  --color-orange-light: #fffbe8;
  --color-green: #07c160;
  --color-text: var(--color-gray-8);
  --color-text-2: var(--color-gray-6);
  --color-text-3: var(--color-gray-5);
}
